{% extends "base.html" %}

{% block title %}
Homepage
{% endblock title %}


{% block baseFile %}
<div class="container-fluid">
    <div class="row">
      <!-- First section for image -->
      <div class="col-md-6 image-section text-center" style="background : white;">
        <img src = "/static/images/CarLogo.png" width=400 class = "py-4">
      </div>

      <!-- Second section for form -->
      <div class="col-md-6 form-section">
        <div class="d-flex align-items-center h-100">
          <!-- Form content -->
          <form method="POST">
            {% csrf_token %}
            <h2 class="text-center mb-4">Predict your Car Price</h2>

            <div class="form-group">
              <label for="company">Company</label>
              <select id="company" name = "company" class="form-select" aria-label="Default select example" required="1" onchange = "load_car_models( this.id, 'car_models')">
                <option selected>Open this select menu</option>
                {% for company in companies %}
                    <option value={{company}}> {{company}} </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="car_models">Car Models</label>
              <select id="car_models" name = "car_models" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>

              </select>
            </div>

            <div class="form-group">
              <label for="year">Year</label>
              <select id="year" name = "year" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                {% for year in years %}
                    <option value={{year}}> {{year}} </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="fuel_type">Fuel Type</label>
              <select id="fuel_type" name = "fuel_type" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                {% for fuel in fuel_type %}
                    <option value={{fuel}}> {{fuel}} </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="km_Driven">Kms Driven</label>
              <input type="text" class="form-control" id="km_Driven" name = "km_Driven" placeholder="Kms Driven...">
            </div>

            <button type="submit" class="btn btn-primary btn-block my-3">Predict the Price</button>
            {{prediction}}
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function load_car_models(company_id, car_model_id) {
        var company = document.getElementById(company_id);
        var car_model = document.getElementById(car_model_id);
        
        car_model.value = "";
        car_model.innerHTML = "";
        
        console.log(company.value);
        {% for company in companies %}
            if (company.value == "{{company}}"){
                {% for model in car_models %}
                    {% if company in model %}
                        var newOption = document.createElement("option");
                        newOption.value = "{{model}}";
                        newOption.innerHTML = "{{model}}";
                        car_model.options.add(newOption);
                    {% endif %}
                {% endfor %}
            }
        {% endfor %}
    }
  </script>


{% endblock baseFile %}